ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
li{
    display:inline-block;
}
.logo{
    color: navy;
    font-size: 50px;
    font-family: Times;
    font-style: italic;
}
.pop-upbox:link, .pop-upbox:visited {
    background-color: CadetBlue;
    color: white;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-family: Georgia;
    padding: 15px 25px;
    -webkit-transition: background 1s;
    transition: background 1s;
}
.pop-upbox:hover, .pop-upbox:active {
    background-color: CadetBlue;
    background: powderblue;
}

.center {
    text-align: center;
}
.navcolor{
    background-color:red;
}

    

